@{
    Layout = "_Layout";
}

<div ng-controller="TicketsController as tickets">
    <form class="filter-container" ng-submit="tickets.CheckInputData() && tickets.SearchCheapestTicket()" name="formSearchCheapestTicket">
        <div class="">
            <angucomplete-alt id="originPlace"
                              placeholder="Откуда"
                              pause="300"
                              minlength="1"
                              selected-object="tickets.originPlace"
                              remote-api-handler="tickets.CustomSearch"
                              title-field="PlaceName"
                              input-class="form-control form-control-small"
                              match-class="highlight"
                              input-name="originPlace"
                              field-required="true"
                              text-searching="Поиск..."
                              text-no-results="Нет совпадений">
            </angucomplete-alt>

            <div ng-messages="formSearchCheapestTicket.originPlace.$error">
                <span class="post-form-error-message" ng-message="autocomplete-required">
                    необходимо заполнить
                </span>
            </div>
        </div>


        <div>
            <angucomplete-alt id="destinationPlace"
                              name="destinationPlace"
                              placeholder="Куда"
                              pause="300"
                              minlength="1"
                              selected-object="tickets.destinationPlace"
                              remote-api-handler="tickets.CustomSearch"
                              title-field="PlaceName"
                              input-class="form-control form-control-small"
                              match-class="highlight"
                              input-name="destinationPlace"
                              field-required="true"
                              text-searching="Поиск..."
                              text-no-results="Нет совпадений">
            </angucomplete-alt>
            <div ng-messages="formSearchCheapestTicket.destinationPlace.$error">
                <span class="post-form-error-message" ng-message="autocomplete-required">
                    необходимо заполнить
                </span>
            </div>
        </div>

        <div>
            <md-datepicker name="outboundDate" ng-model="tickets.outboundDate" md-min-date="tickets.dateTimeNow" md-max-date="tickets.inboundDate" ng-required="true" md-placeholder="Когда"></md-datepicker>
            <div ng-messages="formSearchCheapestTicket.outboundDate.$error">
                <div class="post-form-error-message" ng-message="required">необходимо заполнить</div>
            </div>
        </div>

        <div>
            <md-datepicker name="inboundDate" ng-model="tickets.inboundDate" md-min-date="tickets.outboundDate" ng-required="true" md-placeholder="Обратно"></md-datepicker>
            <div ng-messages="formSearchCheapestTicket.inboundDate.$error">
                <div class="post-form-error-message" ng-message="required">необходимо заполнить</div>
            </div>
        </div>

        <div>
            <md-button type="submit" class="md-fab" aria-label="FAB">
                <md-icon md-svg-src="img/plus.svg"></md-icon>
            </md-button>
        </div>
    </form>

    @Html.Partial("~/views/home/ticket.cshtml")
</div>


