<div>
    <div>
        Цена: <label>{{tickets.cheapestTicket.Price}}</label>
    </div>
    <div class="container">
        <div>
            Туда
            <div>Место отправления: <label>{{tickets.cheapestTicket.OutboundOriginPlace}}</label></div>
            <div>Место прибытия: <label>{{tickets.cheapestTicket.OutboundDestinationPlace}}</label></div>
            <div>Время отправления: <label>{{tickets.cheapestTicket.OutboundDepartureDateTime}}</label></div>
            <div>Время прибытия: <label>{{tickets.cheapestTicket.OutboundArrivalDateTime}}</label></div>
            <div>Авиалинии: <label>{{tickets.cheapestTicket.OutboundAirlines}}</label></div>
            <div>Номера рейсов: <label>{{tickets.cheapestTicket.OutboundFlightNumbers}}</label> </div>
            <div>Длительность: <label>{{tickets.cheapestTicket.OutboundDuration}}</label> </div>
        </div>
        <div>
            Обратно
            <div>Место отправления: <label>{{tickets.cheapestTicket.InboundOriginPlace}}</label></div>
            <div>Место прибытия: <label>{{tickets.cheapestTicket.InboundDestinationPlace}}</label></div>
            <div>Время отправления: <label>{{tickets.cheapestTicket.InboundDepartureDateTime}}</label></div>
            <div>Время прибытия: <label>{{tickets.cheapestTicket.InboundArrivalDateTime}}</label></div>
            <div>Авиалинии: <label>{{tickets.cheapestTicket.InboundAirlines}}</label></div>
            <div>Номера рейсов: <label>{{tickets.cheapestTicket.InboundFlightNumbers}}</label> </div>
            <div>Длительность: <label>{{tickets.cheapestTicket.InboundDuration}}</label> </div>
        </div>
    </div>
    
</div>