body {
    margin: 0 auto;
    width: 1000px;
}

.filter-container{
    display: flex;
    padding: 50px 10px;
}

.filter-container div{
    flex: 1;
}
.route-price{
    margin:10px;
    font-size:large;
}
.route-container{
    display: flex;
}
.route-item {
    flex: 1;
    margin:10px;
    padding:10px;
}

.post-form-error-message{
    text-align:center;
    color: red;
}
