<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @*libs*@
    <script src="~/lib/angular/angular.js"></script>
    <link href="~/lib/angular/angucomplete-alt.css" rel="stylesheet" />
    <script src="~/lib/angular/angucomplete-alt.js"></script>
    <script src="~/lib/angular/angular-messages.js"></script>
    <link href="~/lib/angular/angular-material.css" rel="stylesheet" />
    <script src="~/lib/angular/angular-material.js"></script>
    <script src="~/lib/angular/angular-aria.js"></script>
    <script src="~/lib/angular/angular-animate.js"></script>

    <script src="~/lib/jquery/jquery.js"></script>

    <link href="~/lib/bootstrap/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/bootstrap.js"></script>

    @*angular*@
    <script src="~/js/app/modules/skyscanner/module.js"></script>
    <script src="~/js/app/modules/skyscanner/api.factory.js"></script>

    <script src="~/js/app/modules/tickets/module.js"></script>
    <script src="~/js/app/modules/tickets/controller.js"></script>

    <script src="~/js/app/app.js"></script>

    @*custom resources*@
    <link href="~/css/layout.css" rel="stylesheet" />
    <script src="~/js/main.js"></script>

</head>
<body ng-app="app">
        @RenderBody()
</body>
</html>
