<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/lib/bootstrap/bootstrap.css" rel="stylesheet" />

    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/bootstrap/bootstrap.js"></script>
    <script src="~/lib/jquery/jquery.js"></script>

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
